/* line 1, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 5, ../sass/reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 11, ../sass/reset.scss */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 15, ../sass/reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222;
}

/* line 23, ../sass/reset.scss */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 28, ../sass/reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*text selection color*/
/* line 36, ../sass/reset.scss */
::-moz-selection, ::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 42, ../sass/reset.scss */
::-webkit-input-placeholder, ::-moz-input-placeholder {
  color: #999;
}

/* line 46, ../sass/reset.scss */
a {
  color: #00e;
}
/* line 48, ../sass/reset.scss */
a:visited {
  color: #551a8b;
}
/* line 51, ../sass/reset.scss */
a:hover {
  color: #06e;
}
/* line 54, ../sass/reset.scss */
a:focus {
  outline: thin dotted;
}
/* line 57, ../sass/reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 62, ../sass/reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/reset.scss */
b, strong {
  font-weight: bold;
}

/* line 70, ../sass/reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 74, ../sass/reset.scss */
dfn {
  font-style: italic;
}

/* line 78, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 87, ../sass/reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 93, ../sass/reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 100, ../sass/reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 106, ../sass/reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 112, ../sass/reset.scss */
q {
  quotes: none;
}
/* line 114, ../sass/reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 120, ../sass/reset.scss */
small {
  font-size: 85%;
}

/* line 124, ../sass/reset.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 131, ../sass/reset.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 139, ../sass/reset.scss */
sub {
  bottom: -0.25em;
}

/* line 143, ../sass/reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 148, ../sass/reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 153, ../sass/reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 161, ../sass/reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 167, ../sass/reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 171, ../sass/reset.scss */
figure, form {
  margin: 0;
}

/* line 175, ../sass/reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 181, ../sass/reset.scss */
label {
  cursor: pointer;
}

/* line 185, ../sass/reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 192, ../sass/reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 199, ../sass/reset.scss */
button, input {
  line-height: normal;
}

/* line 203, ../sass/reset.scss */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 210, ../sass/reset.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 217, ../sass/reset.scss */
button[disabled] {
  cursor: default;
}

/* line 222, ../sass/reset.scss */
input[disabled] {
  cursor: default;
}
/* line 225, ../sass/reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
/* line 231, ../sass/reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 236, ../sass/reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 242, ../sass/reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 247, ../sass/reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 255, ../sass/reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 259, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 264, ../sass/reset.scss */
td {
  vertical-align: top;
}

/* line 268, ../sass/reset.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/*box sizing - use for ie8+*/
/* line 277, ../sass/reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
